#corpo {
    background-image: linear-gradient(to right, rgb(33, 184, 230), rgb(9, 209, 69));
}


#caixalogin{
    width: 400px;
    height: 450px;
    background-color:rgba(95, 95, 104, 0.6);
    border-color: black;
    border-radius: 10px;
    position: absolute;
    top: 10%;
    left: 35%;
    justify-content: center;
}

#titulo{
    color:rgb(11, 11, 15);
    margin-top: 5px;
    margin-left: 115px;
    font-size:65px;
}

#subtitulo{
    color: rgb(11, 11, 15);
    margin-top: -35px;
    margin-left: 190px;
}

#lblusuario{
    color: bisque;
    font-size: 25px;
    margin-left: 50px;
    display: block;
}

#inusuario{
    border-radius: 4px;
    border: none;
    margin-left: 50px;
    display: block;
    padding: 3px;
    height: 22px;
}

#lblsenha{
    color: bisque;
    font-size: 25px;
    margin-left: 50px;
    display: block;
}

#insenha{
    border-radius: 4px;
    border: none;
    margin-left: 50px;
    padding: 3px;
    height: 22px;
}

#btnentrar{
    margin-left: 135px;
    height: 30px;
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    background-color: chartreuse;
}
#btnentrar:hover{
    background-color:aqua;
    transition: 0,5s;
}