#corpo {
    background-image: linear-gradient(to right, rgb(33, 184, 230), rgb(9, 209, 69));
}

#logo{
    height: 80px;
    width: 380px;
    margin-left: 820px;
}
#logoDois{
    margin-top: 15px;
    margin-left: 20px;
}
#cima{
    background-color: rgba(2, 129, 30, 0.6);
    height: 85px;
    display: flex;
}


#caixalogin{
    width: 400px;
    height: 450px;
    background-color:rgba(95, 95, 104, 0.6);
    border-color: black;
    border-radius: 10px;
    position: absolute;
    top: 23%;
    left: 35%;
    justify-content: center;
}

#titulo{
    color: bisque;
    margin-top: 5px;
    margin-left: 115px;
    font-size:65px;
}

#subtitulo{
    color: bisque;
    margin-top: -35px;
    margin-left: 190px;
}

#lblusuario{
    color: bisque;
    font-size: 25px;
    margin-left: 50px;
    display: block;
}

#inusuario{
    border-radius: 4px;
    border: none;
    margin-left: 50px;
    display: block;
    padding: 5px 0px 0px 5px;;
    height: 25px;
    width: 260px;
    font-size: 16px;
    letter-spacing: 0.8px;
}
#inusuario:focus{
    border: .5px solid aqua;
    outline: 1px solid aqua;
}

#lblsenha{
    color: bisque;
    font-size: 25px;
    margin-left: 50px;
    display: block;
}

#insenha{
    border-radius: 4px;
    border: none;
    margin-left: 50px;
    padding: 5px 0px 0px 5px;
    height: 25px;
    width: 260px;
    font-size: 16px;
    letter-spacing: 0.8px;
}
#insenha:focus{
    border: .5px solid aqua;
    outline: 1px solid aqua;
}

#btn-senha{
    cursor: pointer;
    color: rgb(36, 34, 34);
    border: 2px;
    background-color: bisque;
    font-size: 17px;
    border-radius: 4px;
}

#btnentrar{
    margin-left: 130px;
    margin-top: 25px;
    height: 30px;
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    background-color: chartreuse;
}
#btnentrar:hover{
    background-color:aqua;
    transition: 0,5s;
}